<body>

  <div class="intro">
    <h1>Unleashed Recruiting</h1>
    <div class="nav">
      <%= link_to "Companies", companies_path %>
      <br>
      <%= link_to "Categories", categories_path %>
    </div>
  </div>

</body>

</html>
