<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../../welcome.css">
    <title>Job Tracker</title>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  
<body>
  

<div class="intro">
  <h1>JobTracker</h1>
  <div class="nav">
    <%= link_to "Companies", companies_path %>
    <br>
    <%= link_to "Categories", categories_path %>
  </div>
</div>


</body>

</html>
