html, body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  display: flex;
  background-image: url("jt2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  /*height: 100%;*/
  background-position: center;
  margin: 30px;
  border: 40px solid white;
  background-attachment: fixed;
}

h1 {
    color: blue;
    font-size: 20px;
}


/*.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    height: 200px;
    overflow: auto;
}*/